@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Петрозаводск<br />
    <br />
    <abbr title="Phone">P:</abbr>
    5555-55555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@dominospizza.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@dominospPizza.com">Marketing@example.com</a>
</address>