@{
    ViewBag.Title = "Dominos Пицца - доставка пиццы, суши, бургеров и любой еды в городе Петрозаводске круглосуточно";
}

<div class="jumbotron">
    <h1>Dominos Pizza</h1>
    <p class="lead">Компания «Dominos Pizza» занимается доставкой пиццы и готовой еды вот уже 1 год! Благодаря большому опыту и профессионализму, наш сервис максимально отлажен. Мы по-настоящему любим наше дело и ценим время наших клиентов.</p>
    <p class='help-block'>Предлагаем вам круглосуточную доставку более 20 видов пиццы, пирогов и ватрушек, осетинских пирогов, горячих блюд, закусок, обедов, вок-лапши и напитков. Наше меню постоянно пополняется. С прошлого года у нас появилась доставка суши и блюд мексиканской кухни, а не так давно меню пополнилось вкусными бургерами.

Наша доставка бесплатна и работает 24 часа.</p>
</div>